body {
    font: 14px "Century Gothic", Futura, sans-serif;
    width: 100%;
    color: white;
    background-color: rgb(131, 22, 158);
    text-align: center;
    align-content: center;
}

.container {
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
}

.title {
    padding-top: 10px;
    font-size: xx-large;
}

.status {
    color: white;
    margin-bottom: 10px;
    font-size: x-large;
}

.board {
    margin-bottom: 15px;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    padding-right: 10px;
}

.box {
    color: #424242;
    background-color: rgb(131, 22, 158);
    border: 5px solid #00897b;
    float: inline-end;
    font-size: 96px;
    font-weight: bold;
    line-height: 136px;
    height: 136px;
    padding: 0;
    text-align: center;
    width: 136px;
    color: white;
}